<div class="page-header">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators mt-5 ">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="../../assets/img/abankus_consulting.png.jpg" width="100%"  alt="First slide" data-holder-rendered="true">
        </div>
        <div class="carousel-item bg-success">
          <img class="d-block w-100" src="../../assets/img/slider2.png" width="100%" alt="Second slide" data-holder-rendered="true">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
</div>
<div class="section features-1" id="about-us">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto text-center">
        <span class="badge badge-primary badge-pill mb-3">About Us</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 mx-auto text-center">
        <h3 class="display-3">Our Team</h3>
      </div>
      <div class="col-md-6 text-center mt-5">
        <div>
          <a href="javascript:;">
            <img class="ml-lg-5 col-md-12 col-lg-8 rounded-circle" src="../../assets/img/10.jpg"   width="100%">
          </a>
        </div>
        <h3>Hubert Kyeremateng-Boateng</h3>
        <div class="h6 mt-2"><i class="ni business_briefcase-24 mr-2"></i>Founder and CTO</div>
        <div>
          <a href="https://www.linkedin.com/in/hubert-kyeremateng-boateng-1a3782123/" target="_blank">
            <span class="btn-inner--icon"><i class="fa fa-linkedin"></i></span>
          </a>
        </div>
      </div> 
      <div class="col-md-6">
        <p class="pt-5 text-center">Hubert, founded Abankus Consulting in 2020 after successful careers in both private and government consulting. His experience spans from the Insurance industry to government consulting.</p>
        <p class=" text-center">
          Hubert started his Software Engineering career in 2013 and graduated from Harvard Univeristy in 2015 and currently working on a his Ph.D at Bowie State University with research emphasis on Artificial Intelligence.
        </p>
      
      </div>        
    </div>        
    <div class="row">
      <div class="col-md-8 mx-auto text-center">
        <h3 class="display-3">Who we are</h3>
        <p class="lead">Abankus Consulting is a Software and IT Consulting that seeks to <b>Help</b>, <b>Guide</b> and <b>Transform</b> businesses in transforming into age of digitization.</p>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="info info-horizontal info-hover-primary">
          <div class="description pl-4">
            <h5 class="title">Help</h5>
            <p>We listen to our clients to know their needs and wants. Then we create a plan and process that will take our clients from now into future.<br/>In 2020 and beyond, companies needs to planning for the new Now which is the future.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-10 mx-md-auto">
        <img class="ml-lg-5 col-md-12 col-lg-8" src="assets/img/grp_of_black_men_and_women_in_office.svg" width="100%">
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-6 col-10 mx-md-auto">
        <img class="ml-lg-5 col-md-12 col-lg-8" src="assets/img/black_man_working_on_analytics.svg" width="100%">
      </div>
      <div class="col-lg-6">
        <div class="info info-horizontal info-hover-primary mt-5">
          <div class="description pl-4">
            <h5 class="title">Guide</h5>
            <p>Whether you are in the process of transforming your business to the new Now (Digitization), <b>Abankus</b> is here to guide you at each step of your transformation.<br/>We will work closely with you and <b>Guide</b> at each step in your company's transformation.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="info info-horizontal info-hover-primary mt-5">
          <div class="description pl-4">
            <h5 class="title">Transform</h5>
            <p>With our expertise and human capital, <b>Abankus</b> has the technical knowledge and expertise to help business unlock their full potential.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-10 mx-md-auto">
        <img class="ml-lg-5 col-md-12 col-lg-8" src="../../assets/img/black_women_white_board.svg" width="100%">
      </div>
    </div>       
    </div>
  </div>
<div class="section features-6" id="services">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto text-center">
        <span class="badge badge-primary badge-pill mb-2">Services</span>
        <h3 class="display-2">What we do</h3>
        <p class="lead">We provide a whole range of services tailored towards our clients needs</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="info">

          <h6 class="info-title text-uppercase text-center text-primary">Analysis and Artificial Intelligence</h6>
          <p class="description opacity-8" style="display: none;">We get insulted by others, lose trust for those others. We get back stabbed by friends. It becomes harder for us to give others a hand.</p>
          <div class="col-lg-10  col-12">
            <img class="ml-lg-5 ml-md-10" src="../../assets/img/black_man_working_on_analytics.svg" width="100%">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="info">
          <h6 class="info-title text-uppercase text-center text-success">Software Development</h6>
          <p class="description opacity-8" style="display: none;">Don't get your heart broken by people we love, even that we give them all we have. Then we lose family over time. As we live, our hearts turn colder.</p>
          <div class="col-lg-10  col-12">
            <img class="ml-lg-5 ml-md-10" src="assets/img/black_woman_using_laptop.svg" width="100%">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="info">
          <h6 class="info-title text-uppercase text-center text-warning">IT Consulting and Advisory</h6>
          <p class="description opacity-8" style="display: none;">What else could rust the heart more over time? Blackgold. The time is now for it to be okay to be great. or being a bright color. For standing out.</p>
          <div class="col-lg-10  col-12">
            <img class="ml-lg-5 ml-md-10" src="assets/img/two_black_men_consulting.svg" width="100%">
          </div>
        </div>
      </div>
  </div>
</div>
</div>
<div class="section features-6" id="contact-us">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto text-center">
        <span class="badge badge-primary badge-pill mb-3">Contact Us</span>
        <h3 class="display-2">Why not talk to us</h3>
        <p class="lead">Always ready and available when you need us..</p>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="info info-horizontal info-hover-primary">
          <div class="description pl-4">
            <h5 class="title">Email:</h5>
            <p><a href="mailto:info@abankusconsulting.com">info@abankusconsulting.com</a></p>
          </div>
        </div>
        <div class="info info-horizontal info-hover-primary">
          <div class="description pl-4">
            <h5 class="title">Phone Number:</h5>
            <p><a href="tel:+13479677223">+1-347-967-7223</a></p>
          </div>
        </div>  
        <div class="info info-horizontal info-hover-primary">
          <div class="description pl-4">
            <h5 class="title">Office Address:</h5>
              <address>
                1708 Jennifer Meadows Ct<br/>
                Severn, Maryland USA <br/>
              </address>
          </div>
        </div>          
      </div>
      <div class="col-lg-6 col-10 mx-md-auto">
        <img class="ml-lg-5 col-md-12 col-lg-8" src="assets/img/black_woman_man_working_calender.svg" width="100%">
      </div>
    </div>
  </div>
</div>
