<footer class="footer">
    <div class="container">
      <div class="row align-items-center justify-content-md-between">
        <div class="col-md-8">
          <div class="copyright">
            Abankus Consulting | Technology | International &copy; {{getCurrentYear()}}. All Rights Reserved.
          </div>
        </div>
        <div class="col-md-4">
          <div class="email-div">Email us: <a href="mailto:info@abankusconsulting.com">info@abankusconsulting.com</a></div>
        </div>
      </div>
    </div>
  </footer>


<!--   Core JS Files   -->
<script src="https://unpkg.com/@popperjs/core@2" type="text/javascript"></script>
<script src="../../assets/js/core/bootstrap.min.js" type="text/javascript"></script>
<script src="../../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="../../assets/js/plugins/bootstrap-switch.js"></script>
<script src="../../assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
<!-- Control Center for Argon UI Kit: parallax effects, scripts for the example pages etc -->
<script src="../../assets/js/argon-design-system.min.js" type="text/javascript"></script>
<script src="../../assets/js/detectmobilebrowser.js" type="text/javascript"></script>

